{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
</head>
<body>
    <div class="container">
        <h1>Rapport Journalier Acquisition GSM</h1>

        <!-- Afficher un message de succès ou d'erreur -->
        {% if message %}
            <div class="success">{{ message }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <fieldset>
                <legend>Informations Générales</legend>
            
                <label for="date_enregistrement">Date d'enregistrement :</label>
                <input type="date" id="date_enregistrement" name="date_enregistrement" required>
            
                <label for="lieu_activite">Lieu d'activité :</label>
                <select id="lieu_activite" name="lieu_activite">
                    <option value="" disabled selected>Choisissez un lieu</option>
                    <option value="3 FRANCS">3 FRANCS</option>
                    <option value="ABATTOIR">ABATTOIR</option>
                    <option value="ANDRADE">ANDRADE</option>
                    <option value="AVENUE DES PYLONES">AVENUE DES PYLONES</option>
                    <option value="BACONGO">BACONGO</option>
                    <option value="BACONGO2">BACONGO2</option>
                    <option value="BACONGO3">BACONGO3</option>
                    <option value="BACONGO4">BACONGO4</option>
                    <option value="BARRAGE">BARRAGE</option>
                    <option value="BIFOUITI">BIFOUITI</option>
                    <option value="BIFOUITI IMPROVEMENT">BIFOUITI IMPROVEMENT</option>
                    <option value="BLANCHE GOMEZ">BLANCHE GOMEZ</option>
                    <option value="CAMP LA BASE">CAMP LA BASE</option>
                    <option value="CASE BARNIER">CASE BARNIER</option>
                    <option value="CASE BARNIER 2">CASE BARNIER 2</option>
                    <option value="CASE DE GAULE">CASE DE GAULE</option>
                    <option value="CENTRE GOTHIA">CENTRE GOTHIA</option>
                    <option value="CENTRE SPORTIF">CENTRE SPORTIF</option>
                    <option value="CFMC">CFMC</option>
                    <option value="CFMC2">CFMC2</option>
                    <option value="CFMC3">CFMC3</option>
                    <option value="CHATEAU D'EAU RELOCATION">CHATEAU D'EAU RELOCATION</option>
                    <option value="CITE DES 17">CITE DES 17</option>
                    <option value="CITE DES 17 2">CITE DES 17 2</option>
                    <option value="CORNICHE SUD">CORNICHE SUD</option>
                    <option value="DIATA1">DIATA1</option>
                    <option value="DIATA2">DIATA2</option>
                    <option value="DJOUE BRIDGE RELOCATION">DJOUE BRIDGE RELOCATION</option>
                    <option value="ECOLE PRIMAIRE MFILOU">ECOLE PRIMAIRE MFILOU</option>
                    <option value="FRONTIERE">FRONTIERE</option>
                    <option value="GLACIERE">GLACIERE</option>
                    <option value="KIBINA">KIBINA</option>
                    <option value="KIMPOUOMO">KIMPOUOMO</option>
                    <option value="KINGOUARI">KINGOUARI</option>
                    <option value="KINGOUARI IMPROVEMENT">KINGOUARI IMPROVEMENT</option>
                    <option value="KINGOUARI3">KINGOUARI3</option>
                    <option value="KINSOUDI2">KINSOUDI2</option>
                    <option value="KINSOUNDI">KINSOUNDI</option>
                    <option value="KISITO">KISITO</option>
                    <option value="KOMBE">KOMBE</option>
                    <option value="KOMBE CENTRE">KOMBE CENTRE</option>
                    <option value="KOMBE2">KOMBE2</option>
                    <option value="LA BASE">LA BASE</option>
                    <option value="LA BLED">LA BLED</option>
                    <option value="LA MILICE">LA MILICE</option>
                    <option value="LAAC">LAAC</option>
                    <option value="LYCEE SAVORGNANT">LYCEE SAVORGNANT</option>
                    <option value="MADIBOU1">MADIBOU1</option>
                    <option value="MADIBOU2">MADIBOU2</option>
                    <option value="MAFOUTA">MAFOUTA</option>
                    <option value="MAKANA (KINKALA ROUTE)">MAKANA (KINKALA ROUTE)</option>
                    <option value="MAKANA2 (PEAGE NGA)">MAKANA2 (PEAGE NGA)</option>
                    <option value="MARCHE BOURREAU">MARCHE BOURREAU</option>
                    <option value="MASSAMBA">MASSAMBA</option>
                    <option value="MASSINA">MASSINA</option>
                    <option value="MASSINA HELIOS">MASSINA HELIOS</option>
                    <option value="MASSINA2">MASSINA2</option>
                    <option value="MATOURS">MATOURS</option>
                    <option value="MAYANGA">MAYANGA</option>
                    <option value="MAYANGA WARID">MAYANGA WARID</option>
                    <option value="MAYANGA2">MAYANGA2</option>
                    <option value="MAYINGA">MAYINGA</option>
                    <option value="MAYINGA2">MAYINGA2</option>
                    <option value="MAYINGA3">MAYINGA3</option>
                    <option value="MAYINGA4">MAYINGA4</option>
                    <option value="MBOUONO">MBOUONO</option>
                    <option value="MFILOU 5">MFILOU 5</option>
                    <option value="MFILOU LYCEE">MFILOU LYCEE</option>
                    <option value="MFILOU MONTAGNE">MFILOU MONTAGNE</option>
                    <option value="MFILOU1">MFILOU1</option>
                    <option value="MFILOU2">MFILOU2</option>
                    <option value="MFILOU3">MFILOU3</option>
                    <option value="MFILOU4">MFILOU4</option>
                    <option value="MICHEL KOLELAS">MICHEL KOLELAS</option>
                    <option value="MINISTERE DU PLAN">MINISTERE DU PLAN</option>
                    <option value="MOUKOUNDZI NGOUAKA">MOUKOUNDZI NGOUAKA</option>
                    <option value="MOUTABALA">MOUTABALA</option>
                    <option value="MPISSA">MPISSA</option>
                    <option value="MPISSA2">MPISSA2</option>
                    <option value="NEW OMS">NEW OMS</option>
                    <option value="NGAMPOKO">NGAMPOKO</option>
                    <option value="NKEWA">NKEWA</option>
                    <option value="OMBRE">OMBRE</option>
                    <option value="OMNISPORTS">OMNISPORTS</option>
                    <option value="OMS">OMS</option>
                    <option value="OMS OFFICE">OMS OFFICE</option>
                    <option value="PRESIDENCE">PRESIDENCE</option>
                    <option value="SADELMI">SADELMI</option>
                    <option value="SADELMI2">SADELMI2</option>
                    <option value="SANGOLO">SANGOLO</option>
                    <option value="ST PIERRE BZV">ST PIERRE BZV</option>
                    <option value="TCHIELAMPO">TCHIELAMPO</option>
                    <option value="TDC">TDC</option>
                    <option value="TERMINUS SADELMI">TERMINUS SADELMI</option>
                    <option value="YOULOU">YOULOU</option>
                    <option value="ZOO">ZOO</option>
                </select>
            
                <label for="stock_sim_activees">Stock de SIM activées :</label>
                <input type="number" id="stock_sim_activees" name="stock_sim_activees" required>
            
                <label for="stock_sim_blanches">Stock de SIM blanches :</label>
                <input type="number" id="stock_sim_blanches" name="stock_sim_blanches" required>
            
                <label for="sim_appro">SIM Approvisionnées :</label>
                <input type="number" id="sim_appro" name="sim_appro" required>
            </fieldset>            

            <!-- Partie Effectif -->
            <fieldset>
                <legend>Effectif</legend>

                <label for="effectif_total">Effectif Total Attendu :</label>
                <input type="number" id="effectif_total" name="effectif_total" required>

                <label for="effectif_present">Effectif Présent :</label>
                <input type="number" id="effectif_present" name="effectif_present" required>
            </fieldset>

            <!-- Partie Réalisation -->
            <fieldset>
                <legend>Réalisation</legend>

                <label for="gsm">GSM :</label>
                <input type="number" id="gsm" name="gsm" required>

                <label for="momo_app">MoMo App :</label>
                <input type="number" id="momo_app" name="momo_app" required>

                <label for="mymtn">MyMTN :</label>
                <input type="number" id="mymtn" name="mymtn" required>

                <label for="ayoba">Ayoba :</label>
                <input type="number" id="ayoba" name="ayoba" required>

                <!-- Sous-partie Devices -->
                <fieldset>
                    <legend>Devices</legend>

                    <label for="telephone">Téléphone :</label>
                    <input type="number" id="telephone" name="telephone" required>

                    <label for="modem">Modem :</label>
                    <input type="number" id="modem" name="modem" required>

                    <label for="mifi">MiFi :</label>
                    <input type="number" id="mifi" name="mifi" required>

                    <label for="wifix">WiFix :</label>
                    <input type="number" id="wifix" name="wifix" required>
                </fieldset>
            </fieldset>

            <!-- Partie Commentaires -->
            <fieldset>
                <legend>Commentaires</legend>

                <label for="difficultes">Difficultés :</label>
                <textarea id="difficultes" name="difficultes"></textarea>

                <label for="momoconvertion">MoMo Convertion :</label>
                <input type="number" id="momoconvertion" name="momoconvertion" required>

                <label for="resetpin">Reset PIN :</label>
                <input type="number" id="resetpin" name="resetpin" required>

                <label for="prospection">Prospection :</label>
                <textarea id="prospection" name="prospection"></textarea>

                <label for="besoin">Besoins :</label>
                <textarea id="besoin" name="besoin"></textarea>

                <label for="concurrentielle">Veille concurrentielle :</label>
                <textarea id="concurrentielle" name="concurrentielle"></textarea>
            </fieldset>
            <br>
            <!-- Boutons -->
            <div class="buttons">
                <a href="{% url 'home' %}" class="btn-detail">Accueil</a>
                <button type="submit">Soumettre</button>
                <a href="{% url 'rapport_gsm' %}" class="btn-detail">Historique</a>
                <a href="{% url 'deconnexion' %}" class="btn-deconnexion">Déconnexion</a>
            </div>
        </form>        
    </div>
</body>
</html>
