{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
</head>
<body>
    <div class="container_index">
        <h2>Bienvenue sur la plateforme</h2>
        <div class="span">{{ user.first_name }} {{ user.last_name }}</div>
        <p>Veuillez choisir une option 👇</p>

        <div class="button-container">
            <!-- Bouton Acquisition GSM -->
            <a href="{% url 'gsm' %}" class="btn-detaille">Acquisition GSM</a>

            <!-- Bouton Momopay Mass Market -->
            <a href="{% url 'momopay' %}" class="btn-detaille">Momo Pay Mass Market</a>
        </div>
        <br>
        <!-- Bouton Déconnexion -->
        <div class="logout-btn-container">
            <form method="POST" action="{% url 'deconnexion' %}">
                {% csrf_token %}
                <button type="submit" class="btn-deconnexion">Déconnexion</button>
            </form>
        </div>
    </div>
</body>
</html>
