{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Réinitialisation du mot de passe</h1>

            <!-- Messages de succès ou d'erreur -->
            {% if messages %}
                <div class="error-messages">
                    {% for message in messages %}
                    <p class="{% if message.tags == 'success' %}success{% else %}error{% endif %}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'passwordreset' %}">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required>

                <label for="new_password">Nouveau mot de passe</label>
                <input type="password" id="new_password" name="new_password" required>

                <label for="confirm_password">Confirmer le mot de passe</label>
                <input type="password" id="confirm_password" name="confirm_password" required>

                <button type="submit">Modifier</button>
            </form>

            <p class="link">Retour à la <a href="{% url 'connexion' %}">Connexion</a></p>
        </div>
    </div>
</body>
</html>
